* {
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #24252a;
  display: flex;
  color: white;
  height: 60px;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  min-width: none;
}
.one {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: none;
}
a {
  text-decoration: none;
  color: #ecdddd;
  transition: all 1s;
  min-width: none;
}
.rounded-button {
  border-radius: 20px;
  padding: 6px 20px;
  border: none;
  background-color: rgb(37, 0, 224);
  min-width: none;
  color: white;
}
samp {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
  min-width: none;
}
h2 {
  min-width: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.style:hover {
  background-color: yellow;
  transform: scale(1.5) skew(2deg);
  color: black;
  padding: 5px;
  min-width: none;
}
main {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  height: 100vh;
  min-width: none;
}
footer {
  background-color: gray;
  text-align: center;
  min-width: none;
  padding: 20px 0;
  min-width: none;
}
body {
  background-image: url(./image/Dark\ Blue\ Modern\ Geometric\ Simple\ Feature\ Section\ Website\ UI\ Prototype.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: none;
}
main {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  height: 100vh;
  min-width: none;
}
.first {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  min-width: none;
}
.active {
  background-color: hwb(0 0% 0%);
  border: 1px solid black;
  padding: 5px;
  min-width: none;
}
.icons {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.icons i {
  color: white;
  border-radius: 50%;
  border: 1px dashed white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none;
  transition: all 1s ease-in;
}
.icons i:hover {
  background-color: yellow;
  color: black;
  min-width: none;
  transform: scale(1.8) rotate(360deg);
}
span {
  color: lightseagreen;
  min-width: none;
}
