* {
  margin: 0%;
  padding: 0%;
}
header {
  background-color: #24252a;
  display: flex;
  color: white;
  height: 60px;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  min-width: none;
}
.one {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: none;
}
a {
  text-decoration: none;
  color: #ecdddd;
  transition: all 1s;
  min-width: none;
}
.rounded-button {
  border-radius: 20px;
  padding: 6px 20px;
  border: none;
  background-color: rgb(37, 0, 224);
  color: white;
  min-width: none;
}
samp {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
  min-width: none;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  min-width: none;
}
.style:hover {
  background-color: yellow;
  transform: scale(1.5) skew(2deg);
  color: black;
  padding: 5px;
  min-width: none;
}
footer {
  background-color: #121212;
  text-align: center;
  padding: 20px 0;
  color: white;
  min-width: none;
  min-width: none;
}

.icons {
  margin-top: 20px;
  font-size: xx-large;
  min-width: none;
}
.icons i {
  color: white;
  border-radius: 50%;
  border: 1px dashed white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
  font-size: x-large;
  min-width: none;
}
.icons i:hover {
  background-color: yellow;
  color: black;
  transform: scale(2) rotate(360deg);
  min-width: none;
}
main {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  height: 100vh;
  min-width: none;
}
.first {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  min-width: none;
}
.active {
  background-color: hwb(0 0% 0%);
  border: 1px solid black;
  padding: 5px;
  min-width: none;
}
span {
  color: blue;
  min-width: none;
}
.picture {
  background-color: black;
  min-width: none;
}
